{% extends "layout.html" %} {%block content%}

<div class="about">
  <h2>Exams Work</h2>
  <h2>WWW-Programming 2022</h2>

  <p>WS 2022/23</p>
  <br />

  <p>Teacher</p>
  <br />
  Dipl. Vk Tobias Hieb<br />
  <br />
  <p>Students</p>
  <br />
  Shirley Lein - 670634<br />
  Joern Seydel - 670667<br />
  <br />
  <div class="articleclass">
    <article>
      Welcome to the free open 3D Asset Store. Here you can share your content,
      view from others, like them or give them a nice comment. For now just
      glb/gltf assets are accepted. Create your own Profil with your personal
      Image or use the random created cute cat pics in the registry form field.
      What do you have to share? We are curious the see you on Open Asset
      Store!!! Don't hestitate to recommend or link us on instagram, facebook
      us. See you guys in 3D!! Great Modelling!
    </article>
    <br />
    <h3>How to interact with assets?</h3>
    <ul>
      You can use your mouse or touch input to navigate the 3D scene.
      <li>
        To orbit around the target point, click and drag the mouse or touch and
        move it around the screen.
      </li>
      <li>
        To zoom in or out, use the scroll wheel on your mouse or pinch in/out on
        a touch device.
      </li>
      <li>
        To pan the camera, press the right mouse button or the two fingers down
        and drag.
      </li>
    </ul>
  </div>
  {%endblock%}
</div>
