{% extends "layout.html" %} {%block content%}

<div class="about">
  <h2>Impressum - Open Source Assets</h2>

  <p>
    Responsible for the content according to § 55 Abs. 2 RStV <br />
    Open Asset Store GmbH <br />

    Kloendeeler Allee 33 <br />
    23951 Flensburg
  </p>
  <br />

  <div>
    <h3>Privacy Policy</h3>
    <p>
      We take your privacy seriously. This privacy policy outlines the types of
      personal information we collect and how we use it.
    </p>
    <h3>Information Collection</h3>
    <p>
      We collect personal information from you when you use our services, such
      as your name, email address. We may also collect information about your
      device and location.
    </p>
    <h3>Use of Information</h3>
    <p>
      We use the personal information we collect to provide and improve our
      services, as well as to communicate with you. We may also use your
      information to personalize your experience and to send you promotional
      materials.
    </p>
    <h3>Information Sharing</h3>
    <p>
      We will not share your personal information with third parties without
      your consent, except as required by law.
    </p>
    <h3>Data Security</h3>
    <p>
      We take reasonable steps to protect your personal information from
      unauthorized access, use, or disclosure. However, no internet transmission
      is ever completely secure or error-free.
    </p>
    <h3>Changes to this Privacy Policy</h3>
    <p>
      We may update this privacy policy from time to time. If we make any
      changes, we will notify you by revising the date at the top of the policy
      and, in some cases, we may provide you with more prominent notice.
    </p>
    <h3>Contact Us</h3>
    <p>
      If you have any questions about this privacy policy or our treatment of
      your personal information, please contact us by email.
    </p>
  </div>
  <div>
    <br /><br />
    <h5>Contact</h5>
    <br />
    <p>e-mail: sunshirneReady@base.com</p>
    <p>mobil: +045 0234 - 3433233</p>

    <p>Represented by: Shirley Lein & Joern Seydel</p>
  </div>
</div>
{%endblock%}
