{% extends "layout.html" %} {%block content%}

<div class="kollophon">
  <h1>Kollophon</h1>
  <div>
    <p>Unsere exterenen Dateien</p>
  </div>
  <br />
  <div>
    <p>
      <strong>Three.js -</strong>Hier mit kann der Rezipient innerhalb eines
      Canvas sich 3d Modelle angucken<br />
      und mit weiteren Ergänzungen auch seine eignen Datein hochladen zu können.
    </p>
    <a href="https://deno.land/x/threejs_4_deno@v121"
      >https://deno.land/x/threejs_4_deno@v121</a
    >
  </div>
  <br />
  <div>
    <p>
      <strong>Icons -</strong>Von stackpath haben wir uns die Icons<br />
      von Facebook, Instagram und Youtube
    </p>

    <a
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      >https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css</a
    >
  </div>
  <br />

  <div>
    <p>
      <strong>Google Fonts-</strong>Von Goole.Fonts haben wir uns unsere Haupt
      Typo geholt.<br />font-family: 'Righteous', cursive;
    </p>

    <a href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
      >"https://fonts.googleapis.com/css2?family=Righteous&display=swap"</a
    >
  </div>

  <br />

  <div>
    <p>
      <strong>Nunjucks Engine-</strong>Wir haben wie in der Vorüben die gelernte
      Template Engine nunjucks verwendet um unser Layout zu übernehmen.
    </p>
    <a href="https://deno.land/x/nunjucks@3.2.3-2"
      >"https://deno.land/x/nunjucks@3.2.3-2"</a
    >
  </div>
  <br />
  <div>
    <p>
      <strong>faker.js-</strong>Mit faker.js erzuegen wir die gefälschten
      Userdaten. Mit denen wir die Reziepienten simulieren
    </p>

    <a href="https://deno.land/x/deno_faker@v1.0.3/mod.ts"
      >"https://deno.land/x/deno_faker@v1.0.3/mod.ts"</a
    >
  </div>
  <br />
  <div>
    <p>Privacy policy was written in english by the glorious ChatGBT!</p>

    <a href="https://chat.openai.com/chat">https://chat.openai.com/chat</a>
  </div>
  {%endblock%}
</div>
